<!DOCTYPE html>
<html>
  <head>
    <title>Tweeter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-primary">
<span class="navbar-brand mb-0 h1">ğ–™ğ–œğ–Šğ–Šğ–™ğ–Šğ–—<i class="fa fa-twitter"></i></span>

    <%= yield %>
    <div class="footer">
 <p>Footer</p>
</div>
  </body>
</html>
